@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&family=Raleway:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		@apply p-0;
		@apply m-0;

		@apply h-full;
		@apply bg-green;
		@apply overflow-y-auto;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-title;
	}

	h1 {
		@apply text-6xl;
	}

	h2 {
		@apply text-5xl;
	}

	h3 {
		@apply text-4xl;
	}

	h4 {
		@apply text-3xl;
	}

	h5 {
		@apply text-2xl;
	}

	h6 {
		@apply text-xl;
	}

	div,
	p,
	a,
	span,
	label,
	textarea {
		@apply text-base;
		@apply font-body;
	}

	a {
		@apply no-underline;
		@apply text-cyan-500;
	}

	* {
		@apply box-border;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="number"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea,
	select {
		@apply border-black;
		@apply border-2;
		@apply m-2;
	}

	div#card-creator-prev,
	.closed-card-title {
		@apply whitespace-pre-wrap;
		@apply break-words;
	}

	button,
	a,
	input[type="button"] {
		@apply cursor-pointer;
	}

	/* everything for scrollbar (::-webkit-scrollbar) is from w3schools:
	https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
	/* width */
	::-webkit-scrollbar {
		@apply w-1;
	}

	/* Track */
	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		@apply bg-[#888];
		@apply rounded-full;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		@apply bg-[#555];
	}
}

@layer components {
	/* https://stackoverflow.com/a/61653016, converted to use tailwind classes */
	.open-card-profile-picture {
		@apply w-12;
		@apply h-12;
		@apply rounded-[50%];
		@apply bg-[darkgreen];
		@apply text-2xl;
		@apply text-[white];
		@apply text-center;
		@apply leading-[3rem];
		@apply my-2;
		@apply mx-0;
	}

	.required {
		@apply text-red;
	}

	/* Thanks to https://unused-css.com/blog/css-shake-animation/ for these cool animations */
	.shake {
		animation: tilt-n-move-shaking 0.15s infinite;
	}

	@keyframes tilt-n-move-shaking {
		0% {
			transform: translate(0, 0) rotate(0deg);
		}
		25% {
			transform: translate(5px, 5px) rotate(5deg);
		}
		50% {
			transform: translate(0, 0) rotate(0eg);
		}
		75% {
			transform: translate(-5px, 5px) rotate(-5deg);
		}
		100% {
			transform: translate(0, 0) rotate(0deg);
		}
	}

	.horizontal-shake {
		animation: horizontal-shaking 0.35s infinite;
	}

	@keyframes horizontal-shaking {
		0% {
			transform: translateX(0);
		}
		25% {
			transform: translateX(5px);
		}
		50% {
			transform: translateX(-5px);
		}
		75% {
			transform: translateX(5px);
		}
		100% {
			transform: translateX(0);
		}
	}

	.hover-red:hover {
		@apply bg-red;
		@apply text-white
	}

	button.no-highlight:focus {
		@apply outline-none;
	}

	.shadow {
		box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
	}
}
